.div1{
    width: 150px;
    height: 150px;
    background-color: pink;
    float: right;
    text-align: center;
    line-height: 150px;
}

.div2{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    float: left;
    text-align: center;
    line-height: 150px;
}

.div3{
    width: 150px;
    height: 150px;
    background-color: orange;
    float: left;
    text-align: center;
    line-height: 150px;
}