@media only screen and (min-width: 500px){

    /*--- Principal ---*/
    main article div{
        padding: 10px 5px 10px 5px;
    }

    /*--- Article (cajas de colores) ---*/

    main article{
        margin-bottom: 30px;
        grid-template-columns: auto auto 1fr;
        grid-template-areas: 
        "rojo verde verde"
        "rojo azul gris"
        "rojo naranja amarillo"
       ;
    }

    main article :nth-child(3) {
        align-self: start;
    } 

    /* main article :nth-child(5) {
        
    }  */
    
    /*--- Section (Imagenes) ---*/

    section{
        grid-template-columns: repeat(2, 1fr);
    }

    section :nth-child(3){
        grid-column: 1/-1;
        justify-self: center;
        width: 50%;
    }
}

/*--- Vista de ordenador ---*/
@media only screen and (min-width: 900px){

    /*--- Cabecera ---*/
    header{
        grid-template-columns: auto 1fr auto;
        grid-auto-flow: dense;
    }

    .curso, .asignatura{
        align-self: start;
    }

    .asignatura{
        grid-column: 3/-1;
    }

    .titulo{
        grid-column: 2/3;  
    }

    /*--- Barra de navegacion ---*/
    nav{
        background-color: var(--color-nav);
        grid-template-columns: repeat(5, 170px); /* Al ser 170px*5 da igaul a 850px */
        justify-content: center;
    }

    /*--- Principal ---*/
    main{
        grid-template-columns: 1fr 300px;
        gap:20px
    }

    /*--- Article (cajas de colores) ---*/

    main article{
        margin-bottom: 30px;
        grid-template-rows: repeat(3, max-content);
        grid-template-columns: auto minmax(50px, 1fr) auto minmax(50px, 1fr) auto;
        grid-template-areas: 
        "rojo verde verde verde verde"
        "rojo . azul . gris"
        "naranja . azul . amarillo"
       ;
    }

    main article :nth-child(3) {
        align-self: stretch;
    } 

    /*--- Section (Imagenes) ---*/

    section{
        grid-template-columns: 1fr;
    }

    section :nth-child(3){
        width: 100%;
    }
}