*{
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 20px;
  }
  .col-1 {
      width: 8.33%;
  }
  .col-2 {
      width: 16.66%;
  }
  .col-3 {
      width: 25%;
  }
  .col-4 {
      width: 33.33%;
  }
  .col-5 {
      width: 41.66%;
  }
  .col-6 {
      width: 50%;
  }
  .col-7 {
      width: 58.33%;
  }
  .col-8 {
      width: 66.66%;
  }
  .col-9 {
      width: 75%;
  }
  .col-10 {
      width: 83.33%;
  }
  .col-11 {
      width: 91.66%;
  }
  .col-12 {
      width: 100%;
  }

  .row::after{
    content: "";
    clear: both;
}

.cabecera{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: gray;
    color: white;
}

.columna1{
    margin: 20px 30px;
    padding: 10px;
    padding-right: 120px;
    background-color: aqua;
    color: white;
}

.columna2{
    margin: 20px 30px;
    margin-top: 30px;
    padding: 10px;
    padding-right: 120px;
    background-color: aqua;
    color: white;
}

.columna3{
    margin: 20px 30px;
    margin-top: 30px;
    padding: 10px;
    padding-right: 120px;
    background-color: aqua;
    color: white;
}

.columna4{
    margin: 20px 30px;
    margin-top: 30px;
    padding: 10px;
    padding-right: 120px;
    background-color: aqua;
    color: white;
}

.titulo{
    padding-top: 30px;
}

.pie{
    width: 100%;
    margin-top: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    float: inline-end;
    background-color: gray;
    color: white;
}